.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #FF8C00;
  height: 100px;
  padding: 20px;
  color: #FF8C00;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
